* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo-img {
  width: 198px;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #D9E9CF;
}